.ks-combobox{
	position:relative;
	.ks-inline-block;
	.ks-combobox-button{
		background-color:darken(@white,10%);
		color:@comboxButtonColor;
		display:block;
		position: absolute;
		right: 6px;
		top: 5px;
		width: 15px;
		text-align: center;
		height: 18px;
	}
	a:hover{
		text-decoration: none;
		background-color:darken(@white,30%);
	}
	.ks-autocomplete-input{
		margin:0;
	}
}