
.ks-grid-table{
	.table;
	table-layout:fixed;
	margin:0;
	th{
		padding : 0;
	}
}
//±íÍ·
.ks-grid-sort-icon{
	.caret;
	margin-top:7px;
	margin-left:3px;
	display:none;
}

.ks-grid-hd{
	
	.ks-grid-hd-inner{
		padding: 8px 15px;
	}
}

.sort-asc .ks-grid-sort-icon,.sort-desc .ks-grid-sort-icon{
	.ks-inline-block;
}

.sort-asc .ks-grid-sort-icon{
	border-top: 0;
  border-bottom: 4px solid @black;
  content: "\2191";
}

.ks-grid-hd-hover .ks-grid-sort-icon{
	.opacity(100);
}

//body
.ks-grid-body{
	outline:0;
	.ks-grid-table{
		border-top-width : 0;
	}
}
.ks-grid-row-first td{
	border-top-width:0;
}
.ks-grid-header-row td{
	padding:0;
	border-width:0;
}