
.ks-grid-table{
	.table;
	table-layout:fixed;
}
//±íÍ·
.ks-grid-sort-icon{
	.caret;
	margin-top:7px;
	margin-left:3px;
	display:none;
}

.sort-asc .ks-grid-sort-icon,.sort-desc .ks-grid-sort-icon{
	.ks-inline-block;
}

.sort-asc .ks-grid-sort-icon{
	border-top: 0;
  border-bottom: 4px solid @black;
  content: "\2191";
}

.ks-grid-hd-hover .ks-grid-sort-icon{
	.opacity(100);
}

//body
.ks-grid-body{
	outline:0;
}