.oi-container{
	position:relative;
	.close{
		position:absolute;
		right: -24px;
		top: -24px;
		text-indent:-50px;
		width:24px;
		height:24px;
		overflow:hidden;
		background: url("http://img03.taobaocdn.com/tps/i3/T1yv98XftsXXaPT2Hb-24-24.gif");
		opacity: 1;
		filter: alpha(opacity=1);
		&:hover {
			.opacity(100);
		}
	}
}

.oi-data{
	position:relative;
	color:@white;
}

.oi-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	a {
		outline: none;
	}
}

.oi-prev, .oi-next {
	width: 49%;
	height: 100%;
	background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
	display: block;
}

.oi-next {
	right: 0;
	float: right;
}

.oi-prev {
	left: 0;
	float: left;
}

.oi-prev:hover {
  background: url("http://img04.taobaocdn.com/tps/i4/T1ZOOjXgXKXXXoadrh-50-45.png") left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.oi-next:hover {
  background: url("http://img03.taobaocdn.com/tps/i3/T1xcu1Xl4qXXXoadrh-50-45.png") right 48% no-repeat;
}
