// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}
.ks-inline-block {
	display: inline-block;
}
.ks-ext-mask{
	background-color: black;
	opacity: 0.2;
}
.ks-overlay {
		position:absolute;
		left:-9999px;
		top:-9999px;
}